.heroes {
  margin: 5% 10%;
  display: flex;
  width: auto;
  gap: 3rem;
  color: #fff;
  padding: 8rem 2rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  /* permite que los elementos se acomoden por si solos en caso de que no quepan  */
  flex-wrap: wrap;
}

.tarjeta-hero {
  background: #121826;
  border: 2px solid #ff003c;
  color: #fff;
  padding: 1rem;
  border-radius: 15px;
  width: 250px;
  box-shadow: 0 0 10px rgba(255, 0, 60, 0.3);
}


/* movil */
@media (max-width: 767px) {
  .heroes {
    margin: 3% 5%;
    gap: 1.5rem;
    padding: 3rem 1rem;
    flex-direction: column;
  }
}

/* movil pero vertical */
@media (max-width: 767px) and (orientation: landscape) {
  .heroes {
    flex-direction: row;
    padding: 2rem 1rem;
    gap: 2rem;
  }
}

/* pantallas de tablet */
@media (min-width: 768px) and (max-width: 1024px) {
  .heroes {
    margin: 4% 8%;
    gap: 2.5rem;
    padding: 5rem 2rem;
  }
}

/* pantallas de tablet verticales */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .heroes {
    flex-direction: column;
    gap: 2rem;
  }
}

/* pantallas de portatil */
@media (min-width: 1025px) and (max-width: 1367px) {
  .heroes {
    margin: 5% 10%;
    gap: 3rem;
    padding: 2rem 2rem;
  }
}
