.heroes {
  margin: 5%;
  display: flex;
  /* bloque de fondo semi transparente  */
  width: 65%;
  gap: 1.25rem;
  margin-left: 10%;
  margin-right: 10%;
  color: #fff;
  padding: 10rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  /* permite que los elementos se acomoden por si solos en caso de que no quepan  */
  flex-wrap: wrap;
}

@media (min-) {
  
}